<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="m-2-gdil-niveau-heading"
        data-cy="NiveauCreateUpdateHeading"
        m2GdilTranslate="monteecompetencebackApp.niveau.home.createOrEditLabel"
      >
        Créer ou éditer un Niveau
      </h2>

      <div>
        <m-2-gdil-alert-error></m-2-gdil-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" m2GdilTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" m2GdilTranslate="monteecompetencebackApp.niveau.codeNiveau" for="field_codeNiveau">Code Niveau</label>
          <input
            type="text"
            class="form-control"
            name="codeNiveau"
            id="field_codeNiveau"
            data-cy="codeNiveau"
            formControlName="codeNiveau"
          />
          @if (editForm.get('codeNiveau')!.invalid && (editForm.get('codeNiveau')!.dirty || editForm.get('codeNiveau')!.touched)) {
            <div>
              @if (editForm.get('codeNiveau')?.errors?.required) {
                <small class="form-text text-danger" m2GdilTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" m2GdilTranslate="monteecompetencebackApp.niveau.libelle" for="field_libelle">Libelle</label>
          <input type="text" class="form-control" name="libelle" id="field_libelle" data-cy="libelle" formControlName="libelle" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span m2GdilTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span m2GdilTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
