<div>
  <h2 id="page-heading" data-cy="AnneeAcademiqueHeading">
    <span m2GdilTranslate="monteecompetencebackApp.anneeAcademique.home.title">AnneeAcademiques</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span m2GdilTranslate="monteecompetencebackApp.anneeAcademique.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-annee-academique"
        [routerLink]="['/annee-academique/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span m2GdilTranslate="monteecompetencebackApp.anneeAcademique.home.createLabel">Créer un nouveau Annee Academique</span>
      </button>
    </div>
  </h2>

  <m-2-gdil-alert-error></m-2-gdil-alert-error>

  <m-2-gdil-alert></m-2-gdil-alert>

  @if (anneeAcademiques?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span m2GdilTranslate="monteecompetencebackApp.anneeAcademique.home.notFound">Aucun Annee Academique trouvé</span>
    </div>
  }

  @if (anneeAcademiques && anneeAcademiques.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr m2GdilSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" m2GdilSortBy="id">
              <div class="d-flex">
                <span m2GdilTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" m2GdilSortBy="annee">
              <div class="d-flex">
                <span m2GdilTranslate="monteecompetencebackApp.anneeAcademique.annee">Annee</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (anneeAcademique of anneeAcademiques; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/annee-academique', anneeAcademique.id, 'view']">{{ anneeAcademique.id }}</a>
              </td>
              <td>{{ anneeAcademique.annee }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/annee-academique', anneeAcademique.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" m2GdilTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/annee-academique', anneeAcademique.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" m2GdilTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(anneeAcademique)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" m2GdilTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (anneeAcademiques && anneeAcademiques.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <m-2-gdil-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></m-2-gdil-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
