@if (information) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(information.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="informationDeleteDialogHeading" m2GdilTranslate="entity.delete.title">
        Confirmation de suppression
      </h4>

      <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
      <m-2-gdil-alert-error></m-2-gdil-alert-error>
      <p
        id="m-2-gdil-delete-information-heading"
        m2GdilTranslate="monteecompetencebackApp.information.delete.question"
        [translateValues]="{ id: information.id }"
      >
        Êtes-vous certain de vouloir supprimer le Information {{ information.id }} ?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span m2GdilTranslate="entity.action.cancel">Annuler</span>
      </button>

      <button id="m-2-gdil-confirm-delete-information" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span m2GdilTranslate="entity.action.delete">Supprimer</span>
      </button>
    </div>
  </form>
}
