<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (etudiant) {
      <div>
        <h2 data-cy="etudiantDetailsHeading"><span m2GdilTranslate="monteecompetencebackApp.etudiant.detail.title">Etudiant</span></h2>

        <hr />

        <m-2-gdil-alert-error></m-2-gdil-alert-error>

        <m-2-gdil-alert></m-2-gdil-alert>

        <dl class="row-md jh-entity-details">
          <dt><span m2GdilTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ etudiant.id }}</span>
          </dd>
          <dt><span m2GdilTranslate="monteecompetencebackApp.etudiant.codeEtudiant">Code Etudiant</span></dt>
          <dd>
            <span>{{ etudiant.codeEtudiant }}</span>
          </dd>
          <dt><span m2GdilTranslate="monteecompetencebackApp.etudiant.telephone">Telephone</span></dt>
          <dd>
            <span>{{ etudiant.telephone }}</span>
          </dd>
          <dt><span m2GdilTranslate="monteecompetencebackApp.etudiant.emailPersonnel">Email Personnel</span></dt>
          <dd>
            <span>{{ etudiant.emailPersonnel }}</span>
          </dd>
          <dt><span m2GdilTranslate="monteecompetencebackApp.etudiant.adresse">Adresse</span></dt>
          <dd>
            <span>{{ etudiant.adresse }}</span>
          </dd>
          <dt><span m2GdilTranslate="monteecompetencebackApp.etudiant.sexe">Sexe</span></dt>
          <dd>
            <span m2GdilTranslate="{{ 'monteecompetencebackApp.Sexe.' + etudiant.sexe }}">{{ etudiant.sexe }}</span>
          </dd>
          <dt><span m2GdilTranslate="monteecompetencebackApp.etudiant.dateNaissance">Date Naissance</span></dt>
          <dd>
            <span>{{ etudiant.dateNaissance | formatMediumDate }}</span>
          </dd>
          <dt><span m2GdilTranslate="monteecompetencebackApp.etudiant.user">User</span></dt>
          <dd>
            <span>{{ etudiant.user?.id }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span m2GdilTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/etudiant', etudiant.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span m2GdilTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
