<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 m2GdilTranslate="reset.request.title">Réinitialiser son mot de passe</h1>

      <m-2-gdil-alert-error></m-2-gdil-alert-error>

      @if (!success) {
        <div class="alert alert-warning">
          <span m2GdilTranslate="reset.request.messages.info">Veuillez renseigner l&apos;adresse email utilisée pour vous enregistrer</span>
        </div>
      } @else {
        <div class="alert alert-success">
          <span m2GdilTranslate="reset.request.messages.success"
            >Veuillez vérifier vos nouveaux emails et suivre les instructions pour réinitialiser votre mot de passe.</span
          >
        </div>
      }

      @if (!success) {
        <form name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
          <div class="mb-3">
            <label class="form-label" for="email" m2GdilTranslate="global.form.email.label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="{{ 'global.form.email.placeholder' | translate }}"
              formControlName="email"
              data-cy="emailResetPassword"
              #email
            />

            @if (
              resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
            ) {
              <div>
                @if (resetRequestForm.get('email')?.errors?.required) {
                  <small class="form-text text-danger" m2GdilTranslate="global.messages.validate.email.required"
                    >Votre email est requis.</small
                  >
                }
                @if (resetRequestForm.get('email')?.errors?.email) {
                  <small class="form-text text-danger" m2GdilTranslate="global.messages.validate.email.invalid"
                    >Votre email n&apos;est pas valide.</small
                  >
                }

                @if (resetRequestForm.get('email')?.errors?.minlength) {
                  <small class="form-text text-danger" m2GdilTranslate="global.messages.validate.email.minlength"
                    >Votre email doit comporter au moins 5 caractères.</small
                  >
                }

                @if (resetRequestForm.get('email')?.errors?.maxlength) {
                  <small class="form-text text-danger" m2GdilTranslate="global.messages.validate.email.maxlength"
                    >Votre email ne doit pas comporter plus de 50 caractères.</small
                  >
                }
              </div>
            }
          </div>

          <button
            type="submit"
            [disabled]="resetRequestForm.invalid"
            class="btn btn-primary"
            m2GdilTranslate="reset.request.form.button"
            data-cy="submit"
          >
            Réinitialiser le mot de passe
          </button>
        </form>
      }
    </div>
  </div>
</div>
